.profile {
    background-color:grey ;
    background-position: cover;
    padding: 15px 15px;

}
    
#message {
    height: 200px;
    width: 500px;
}

#fname {
    height:50px;
    width: 50px;
} 

img {
    float: left;
    padding: 5px 15px;
}

#contactinfo {
    float: left;
    display:inline-block ;
}

